<section>
  <h3 class="catchCopyTitle">キャッチコピー</h3>
  <div class="catchCopyContainer">
    <ul>
      <li class="catchCopyText"><%= project.catch_copy_1 %></li>
      <li class="catchCopyText"><%= project.catch_copy_2 %></li>
      <li class="catchCopyText"><%= project.catch_copy_3 %></li>
    </ul>
  </div>
</section>
